

@layer components {
    .input-field {
        display: grid;
        gap: 0.4rem;

        label {
            font-weight: 500;
        }
        input {
            height: 35px;
            border-radius: var(--radius-sm);
            outline-color: var(--color-primary-600);
            background-color: var(--color-secondary-950);
            padding-inline: 1rem;
            &:focus {background-color: transparent;}
        }
    }
}